#Data Manipulation and Preprocessing
numpy==1.23.5
pandas==1.5.3

#Recommendation System (Collaborative Filtering)
scikit-surprise==1.1.3

#Machine Learning and Text Processing
scikit-learn==1.2.2

#Visualization
matplotlib==3.7.1
seaborn==0.12.2

#Natural Language Processing
nltk==3.8.1

#Miscellaneous
jupyter==1.0.0
